

<div id="menu-bar" class="container">
  <form (ngSubmit)="onSubmit()" #storyForm="ngForm">

    <div class="form-group">
      <label i18n="@@userId" for="name">name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
    </div>

    <div class="form-group">
      <label i18n="@@passwordId" for="author">password</label>
      <input type="text" class="form-control" id="password"
             required
             [(ngModel)]="model.password" name="password"
             #name="ngModel">
    </div>

    <button i18n="@@submitId" type="submit" class="btn btn-default">submit</button>
  </form>
</div>
