<h2>Main stories page</h2>

<div>

  <div style="float: left">
    <div>
      <br/>
      <story-ngx-ol [allStories]="stories"></story-ngx-ol>
      <br/>
    </div>

    <div>
      <br/>
      <selected-story [selectedStory]="story"></selected-story>
      <br/>
    </div>

    <div>
      <br/>
      <story-add-form [stories]="stories"></story-add-form>
      <br/>
    </div>
  </div>

  <div style="float: right">
    <br/>
    <all-stories [allStories]="stories"></all-stories>
    <br/>
  </div>


  <div>
    <br/>
    <button (click)="gotoStatistics()">View Statistics</button>
    <br/>
  </div>

  <div>
    <br/>
    <button (click)="gotoSandbox()">Go in sandbox</button>
    <br/>
  </div>

</div>
