<div class="container">
  <div>
    <h2>{{pageTitle}}</h2>

    <form (ngSubmit)="onSubmit()" #storyForm="ngForm">

      <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.title" name="title"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="title">author</label>
        <input type="text" class="form-control" id="author"
               required
               [(ngModel)]="model.user.name" name="author"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description"
               required
               [(ngModel)]="model.description" name="description"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="address">address</label>
        <input type="text" class="form-control" id="address"
               required
               [(ngModel)]="model.address.realAddress" name="realAddress"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="begin">begin</label>
        <input type="date" class="form-control" id="begin"
               required
               [(ngModel)]="model.begin" name="begin"
               #name="ngModel">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div>
      <div *ngIf="mapBrowserEvent !== undefined;then display else noDisplay"></div>
      <ng-template #display><h2> {{mapBrowserEvent.coordinate[0]}}, {{mapBrowserEvent.coordinate[1]}}</h2></ng-template>
      <ng-template #noDisplay> <h2>Please click on the map where you wish to add a story</h2></ng-template>
    </div>

  </div>
</div>
