<div>

  <div>
    <aol-map
      id="aol-map"
      [width]="'10%'"
      [height]="'10%'"
      (onClick)="fillCoordinates($event)">

      <aol-interaction-default></aol-interaction-default>

      <aol-view [zoom]="zoom">
        <aol-coordinate [x]="692249.47" [y]="5804715.26"  [srid]="'EPSG:3857'"></aol-coordinate>
      </aol-view>


      <div>
        <aol-layer-tile>

        <div *ngIf="source === 'geoportal';then  geoportal else osm"></div>

        <ng-template #geoportal>
              <aol-source-tilewmts
                [url]="url"
                [layer]="layer"
                [matrixSet]="matrixSet"
                [format]="format"
                [style]="style"
                [attributions]="attributions"
              >
                <aol-tilegrid-wmts
                  [resolutions]="resolutions"
                  [matrixIds]="matrixIds"
                  [origin]="origin">
                </aol-tilegrid-wmts>
              </aol-source-tilewmts>
        </ng-template>

        <ng-template #osm>
            <aol-source-osm></aol-source-osm>
        </ng-template>

        </aol-layer-tile>
      </div>

      <aol-layer-vector [opacity]="opacity">
        <aol-source-vector>
          <div *ngFor="let story of allStories">
            <aol-feature>
              <aol-geometry-point>
                <aol-coordinate [x]="story.address.coordinate.x" [y]="story.address.coordinate.y"
                                [srid]="story.address.coordinate.srid"></aol-coordinate>
              </aol-geometry-point>
              <aol-style>
                <aol-style-circle [radius]="5">
                  <aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
                  <aol-style-fill [color]="'red'"></aol-style-fill>
                </aol-style-circle>
              </aol-style>
            </aol-feature>
          </div>
        </aol-source-vector>
      </aol-layer-vector>

    </aol-map>
  </div>

  <div id="map-navigation-bar">
    <div>


    </div>
    <div>
      <span>opacity:</span>
      <button (click)="increaseOpacity()">+</button>
      <button (click)="decreaseOpacity()">-</button>
    </div>
    <div>
      <span>zoom:</span>
      <button (click)="increaseZoom()">+</button>
      <button (click)="decreaseZoom()">-</button>
    </div>
  </div>

</div>
