<h2>Main stories page</h2>
<br/>

<div>
<ul>
  <label>stories list:</label><br/>
  <li *ngFor="let story of stories">
    <label>id: </label><span>{{story.id}}</span>
    <label>description: </label><span>{{story.description}}</span>
  <!--<span>{{story.begin.dayOfMonth}} {{story.begin.month }} {{story.begin.year}}</span>-->
    <!--<label>begin: </label><span>{{story.begin | date: 'dd/MM/yyyy' }}</span>-->
    <label>begin: </label><span>{{story.begin}}</span>
    <br/>
  </li>
</ul>
</div>
<br/>

<div>
  <h2>Basic Request</h2>
  <div *ngIf="loading">loading...</div>
  <pre>{{oneStoryTest | json}}</pre>
</div>
<br/>

<div>
  <label>Add a story:</label>
  <label>description: </label><input #description />
  <label>begin: </label><input #begin />
  <button (click)="addStory(description.value, begin.value)">
    Add
  </button>
</div>
