<div>

  <div>
    <aol-map
      id="aol-map"
      [width]="'80%'"
      [height]="'70%'"
      (onClick)="fillCoordinates($event)">

      <aol-interaction-default></aol-interaction-default>

      <aol-view [zoom]="zoom">
        <aol-coordinate [x]="260516" [y]="6246918" [srid]="'EPSG:3857'"></aol-coordinate>
      </aol-view>


      <div>
        <div *ngIf="layer === 'geoportal';then  geoportal else osm"></div>

        <ng-template #geoportal>
           <aol-layer-tile>
              <aol-source-tilewmts
                [style]="normal"
                [matrixSet]="PM"
                [url]="'http://wxs.ign.fr/2mqbg0z6cx7ube8gsou10nrt/wmts'"
                [layer]="'ORTHOIMAGERY.ORTHOPHOTOS'"
                [format]="'image/jpeg'"
              >
                <aol-tilegrid-wmts
                  [resolutions]="'[156543.03392804103,78271.5169640205,39135.75848201024,19567.879241005125,9783.939620502562,4891.969810251281,2445.9849051256406,1222.9924525628203,611.4962262814101,305.74811314070485,152.87405657035254,76.43702828517625,38.218514142588134,19.109257071294063,9.554628535647034,4.777314267823517,2.3886571339117584,1.1943285669558792,0.5971642834779396,0.29858214173896974,0.14929107086948493,0.07464553543474241]'"
                  [matrixIds]="'[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]'"
                  [origin]="'[-20037508,20037508]'">
                </aol-tilegrid-wmts>
              </aol-source-tilewmts>
            </aol-layer-tile>
        </ng-template>

        <ng-template #osm>
          <aol-layer-tile>
            <aol-source-osm></aol-source-osm>
          </aol-layer-tile>
        </ng-template>

      </div>

      <aol-layer-vector [opacity]="opacity">
        <aol-source-vector>
          <div *ngFor="let story of allStories">
            <aol-feature>
              <aol-geometry-point>
                <aol-coordinate [x]="story.address.coordinate.x" [y]="story.address.coordinate.y"
                                [srid]="story.address.coordinate.srid"></aol-coordinate>
              </aol-geometry-point>
              <aol-style>
                <aol-style-circle [radius]="5">
                  <aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
                  <aol-style-fill [color]="'red'"></aol-style-fill>
                </aol-style-circle>
              </aol-style>
            </aol-feature>
          </div>
        </aol-source-vector>
      </aol-layer-vector>

    </aol-map>
  </div>

  <div id="map-navigation-bar">
    <div>


    </div>
    <div>
      <span>opacity:</span>
      <button (click)="increaseOpacity()">+</button>
      <button (click)="decreaseOpacity()">-</button>
    </div>
    <div>
      <span>zoom:</span>
      <button (click)="increaseZoom()">+</button>
      <button (click)="decreaseZoom()">-</button>
    </div>
  </div>

</div>
