<div class="container">
  <div>
    <h2 i18n="@@pageTitleId" >Page_Title</h2>

    <form (ngSubmit)="onSubmit()" #storyForm="ngForm">

      <div class="form-group">
        <label i18n="@@titleId" for="title">title</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.title" name="title"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label i18n="@@authorId" for="author">author</label>
        <input type="text" class="form-control" id="author"
               required
               [(ngModel)]="model.user.name" name="author"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label i18n="@@descriptionId" for="description">description</label>
        <input type="text" class="form-control" id="description"
               required
               [(ngModel)]="model.description" name="description"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label i18n="@@addressId" for="address">address</label>
        <input type="text" class="form-control" id="address"
               required
               [(ngModel)]="model.address.realAddress" name="realAddress"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label i18n="@@beginId" for="begin">begin</label>
        <input type="date" class="form-control" id="begin"
               required
               [(ngModel)]="model.begin" name="begin"
               #name="ngModel">
      </div>

      <button i18n="@@createId" type="submit" class="btn btn-default">create</button>
    </form>

    <div>
      <div *ngIf="mapBrowserEvent !== undefined;then display else noDisplay"></div>
      <ng-template #display><h2> {{mapBrowserEvent.coordinate[0]}}, {{mapBrowserEvent.coordinate[1]}}</h2></ng-template>
      <ng-template i18n="@@infoCoordinateClickId"  #noDisplay> <h2>infoCoordinateClick</h2></ng-template>
    </div>

  </div>
</div>
